.sidebar{
    width: calc(300px - 40px);
    height: calc(100% - 20px);
    padding: 10px 20px;
    background: honeydew;
}

.sidebar .sidebar-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}